@use '../../../styles/global.scss';

.list{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    gap: 30px;
}
.card {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    width: 30%;
    border: 1px solid global.$white;
    padding: 25px 15px;
    border-radius: 25px;
    
    img {
        width: 15%;
    }
}



@media (max-width: 760px) {

    .list{
      flex-direction: column;
      gap: 15px;
    }
    .card {
        width: 100%;
    }
}