@use '../../styles/global.scss';


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid global.$white;
    border-bottom: 1px solid global.$white;
    padding: 1.875rem 1.25rem ;
    margin-bottom: 1.25rem;
    gap: 3.125rem;

    ul{
        display: flex;
        gap: 0.9375rem;
        padding: 1.25rem;
    }
}
